body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9c9ac !important; /* #D9C6A6 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .App {
  text-align: center;
} */

.primary-btn {
  background-color: #342511 !important;
  font-size: medium !important;
  color: #fff !important;
  padding: 10px 30px !important;
  font-weight: 700 !important;
  min-width: 140px !important;
}

.secondary-btn {
  background-color: #fff !important;
  font-size: 16px !important;
  color: #342511 !important;
  padding: 0px 30px !important;
  font-weight: 400 !important;
  min-height: 40px !important;
}

.primary-font {
  color: #342511 !important;
  font-size: medium !important;
}

#header {
  padding: 10px !important;
  background-color: #342511;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  h2 {
    color: #d9c9ac;
    margin-left: 20px;
  }

  a {
    color: #d9c9ac !important;
    font-weight: 600;
    text-decoration: none;
    position: absolute !important;
    right: 25px !important;
  }
}

#main-page {
  /* padding: 20px; */

  .custom-card {
    width: 100% !important;
  }

  .custom-card-img {
    height: 300px !important;
    object-fit: cover !important;
  }
}

.text-right {
  text-align: right !important;
}

.mark-favorite-checkbox {
  cursor: pointer;
  margin-top: 20px !important;
}

#favorite-checkbox {
  margin-right: 8px !important;
}

.card-row-text {
  font-weight: 600;
}

.card-title-text {
  font-weight: 700 !important;
}

#pagination-container {
  a {
    color: #342511;
    border: none !important;
    font-weight: 700 !important;
  }
}

.custom-dropdown-menu {
  height: 110px !important;
  overflow-y: auto !important;
}

.sort-by-dropdown {
  margin-right: 15px !important;
}

.apply-filter-button {
  float: right !important;
  margin-top: 30px !important;
  background-color: #342511 !important;
  font-size: medium !important;
  color: #fff !important;
  padding: 0px 30px !important;
  font-weight: 600 !important;
  height: 40px !important;
}

.reset-filter-button {
  float: right !important;
  margin-top: 30px !important;
  background-color: #fff !important;
  font-size: medium !important;
  color: #342511 !important;
  padding: 0px 30px !important;
  font-weight: 600 !important;
  height: 40px !important;
  margin-right: 15px;
}

.favorite-selected-text {
  font-size: x-large;
  font-weight: 500;
  margin: 0px !important;
}

.logout-link {
  cursor: pointer;
}

.generate-match-button {
  background-color: #342511 !important;
  font-size: medium !important;
  color: #fff !important;
  padding: 0px 30px !important;
  font-weight: 600 !important;
  height: 40px !important;
  padding-bottom: 5px !important;
}

button {
  border: none !important;
}

.page-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.page-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #342511;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
