body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9c9ac !important; /* #D9C6A6 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .App {
  text-align: center;
} */

.primary-btn {
  background-color: #342511 !important;
  font-size: medium !important;
  color: #fff !important;
  padding: 10px 30px !important;
  font-weight: 700 !important;
}

.primary-font {
  color: #342511 !important;
  font-size: medium !important;
}

